body {
   background-color: black;
   font-family: 'Supermercado One', cursive;
   -moz-border-radius: 30px;
   background-image: url("https://artfiles.alphacoders.com/180/thumb-18052.jpg");
   background-repeat: no-repeat;
   background-position: 98% 220px ;
   background-size: 210px 300px;
}
.About {
   display: none;
}
.About:target {
   display: block;
}
.header {
   text-align: center;
   background-color: rgb(51, 173, 255);
   padding: 20px;
   border: 5px solid rgb(255, 255, 128);
   border-radius: 4px;
}
.info {
   padding: 10px;
   background-color: rgb(51, 173, 255);
   border-radius: 4px;
   width: 500px;

}
/*
img {
   position: relative;
   float: right;
   border-radius: 30px;
   margin-right: 20px;
}
*/
